div{
    position: absolute;
    top: 105px;
    right: 40px;
}
#abc{
    margin-top: 255px;
    right: 46px;
}
#jjj{
    margin-top: 510px;
    right: 46px;
}
#aqa:hover{
    transform: scale(1.3);
}
#awa:hover{
    transform: scale(1.3);
}
#aea:hover{
    transform: scale(1.3);
}
#ara:hover{
    transform: scale(1.3);
}
#ata:hover{
    transform: scale(1.3);
}
#aya:hover{
    transform: scale(1.3);
}
#aua:hover{
    transform: scale(1.3);
}
#aia:hover{
    transform: scale(1.3);
}
#uuu:hover{
    transform: scale(1.3);
}
#lll:hover{
    transform: scale(1.3);
}
#mmm:hover{
    transform: scale(1.3);
}
#bbb:hover{
    transform: scale(1.3);
}